#app-body.check-question {
  .check-submit-type {
    display: flex;
    label {
      flex: 1;
    }
  }
  #check-config {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      margin: 5px;
    }
    input[type="date"] {
      margin-top: 10px;
    }
  }
}
