@keyframes jump {
  0% {
    transform: translateY(1px);
  }
  10% {
    transform: translateY(-5px);
  }
  40% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}

a {
  color: inherit;
}

button {
  all: unset;
  border: 1px solid #ccc;
  display: inline-flex;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
  font-size: 13px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  transition: all 50ms;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(249, 249, 249, 1) 0%,
    rgb(240, 240, 240) 6%,
    rgb(233, 233, 233) 71%,
    rgb(233, 233, 233) 88%,
    rgba(255, 255, 255, 1) 100%
  );
  text-shadow: 0 0 20px rgb(255, 255, 255);
  svg {
    margin: 3px;
    margin-top: 1px;
  }
  &:not(:disabled) {
    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
  }
  &:active {
    transform: translateY(1px);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.3);
  }
  &:disabled {
    opacity: 0.5;
  }
}
input {
  &:read-only {
    background-color: rgb(228, 228, 228, 0.5);
  }
}

body {
  margin: 0;

  #app {
    display: grid;
    grid-template:
      "header"
      "body"
      "footer";
    grid-template-columns: 100%;
    box-sizing: content-box;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
    header {
      grid-area: header;
      position: fixed;
      top: 0;
      width: 100%;
      left: 0;
      display: flex;
      nav {
        padding: 10px;
        a {
          text-decoration: none;
        }
      }
      button {
        all: unset;
        margin-left: auto;
        font-weight: bold;
        padding: 10px;
        cursor: pointer;
        font-size: 16px;
        transition: all 500ms;
        transform: rotate(0);
        transform-origin: center;

        svg {
          margin: 0;
        }
        &:hover {
          box-shadow: none !important;
          transform: none !important;
          animation: jump 1s;
        }
        &:active {
          transform: rotate(180deg) !important;
        }
      }
    }
    footer {
      grid-area: footer;
      color: white;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #header {
      width: 100%;
      position: fixed;
      height: 40px;
      top: 0;
      box-shadow: 0 0 3px black;
      background-color: white;
      display: flex;
      button[data-button="menu-control"] {
        margin-left: auto;
        margin-right: 10px;
      }
    }
    #app-body {
      grid-area: body;
      border-radius: 5px;
      padding: 10px;
      max-height: 100%;
      overflow: auto;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
      .main-section {
        padding: 20px 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        flex: 1;
        min-width: 30%;
        align-items: center;
        .section-icon {
          font-size: 30px;
          margin: 10px;
        }
        h2 {
          margin: 0;
          text-align: center;
          // color: white;
          // text-shadow: 1px 1px 2px rgba(0, 0, 0.3);
        }
        margin: 7.5px;
        p {
          margin: 10px 0;
          font-size: 13px;
          color: #333;
          text-align: center;
        }
        button {
          margin-top: auto;
          display: inline-flex;
          justify-content: center;
          cursor: pointer;
          text-decoration: none;
          // background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
          background: #777;
          color: white;
          padding: 10px;
          font-size: 16px;
          font-weight: bold;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
          border-radius: 10px;
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
          &:active {
            transform: translateY(2px);
          }
        }
      }
      button.edit-button,
      button.confirm-button {
        position: absolute;
        right: 5px;
        top: 20px;
      }
      .question-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1:first-of-type {
          text-align: center;
          margin: 0;
        }
      }

      .single-question {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 10px;
        min-height: 100px;
        border-bottom: 1px solid #ccc;
        margin: 10px 0;
        .title {
          font-size: 20px;
          font-weight: bold;
          &:after {
            display: block;
            margin-top: 5px;
            content: "";
          }
        }
        .answer-area {
          display: flex;
          flex-direction: column;
          padding: 10px 20px;
        }

        input:invalid {
          border-color: red !important;
        }

        &.is-editing {
          border: 1px solid black;
          border-radius: 4px;
          .confirm-button {
            margin-top: 0;
          }
          .question-title-div {
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 10px;
            input.question-title-input {
              border: none;
              border-bottom: 1px solid black;
              padding: 5px;
              flex: 1;
              &:focus {
                outline: none;
                border-bottom: 1px solid blue;
              }
            }
          }
          div.set-answers {
            padding: 10px;
            .radios {
              margin-bottom: 5px;
            }
          }
          div.choose-question-type {
            display: flex;
            flex-direction: column;
            border-radius: 4px;
            border: 1px solid black;
            span {
              padding: 5px;
              font-weight: bold;
              background: #333;
              color: white;
              font-size: 14px;
            }
            .radio-select-builder {
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
      button#submit-sheet {
        margin: 10px 0;
      }
    }
  }
}
