$bsBlue: #007bff;
$bsGray: #6c757d;
$bsGreen: #28a745;
$bsRed: #dc3545;
$bsYellow: #ffc107;
$bsCyan: #17a2b8;
/* 글로벌 스타일 시트 임포트 */
@import "globals"; //어플리케이션 전체 요소 재정의
@import "keyframes"; // 애니메이션 키프레이
@import "app"; // 어플리케이션 콘텐츠 스타일
@import "howTo";
