&.is-editing {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-top: 40px;
  overflow: hidden;
  .question-title-div {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
    input.question-title-input {
      border: none;
      border-bottom: 1px solid black;
      padding: 5px;
      flex: 1;
      border-radius: 0;
      &:focus {
        outline: none;
        border-bottom: 1px solid blue;
      }
    }
  }
  div.set-answers {
    padding: 10px;

    .radio-select-builder {
      display: flex;
      flex-direction: column;
      button,
      input {
        height: 20px;
      }
    }
  }
  div.choose-question-type {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: rgb(151, 151, 151);
    margin-bottom: 10px;
    span {
      padding: 5px;
      font-weight: bold;
      color: white;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      font-size: 14px;
    }
    .radios {
      margin-left: auto;
      font-size: 13px;
      padding: 0 10px;
      display: inline-flex;
      justify-content: center;
      label {
        color: white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
